/* Colors */

:root {
    --pink-color: #FC51FF;
    --cyan-color: #74A7C0;
    --gray-dark: #424253;
    --dark-color: #2A2A42;
    --light-color: #FEFEFE;

    --pink-hover-color: #ED2AB6;
    --cyan-hover-color: #678899;

}

* {
    margin: 0;
    box-sizing: border-box;
}


.wrapper {

    margin: 0 auto;
    padding-right: 100px;
    padding-left: 101px;
}

h2 {
    color: #041850;
}

.form-control {
    width: 100%;
}

.navbar-default .navbar-brand {
    color: var(--pink-color);
    font-size: 26px;
}

.navbar-default .navbar-btn {
    border: 2px solid;
    background: var(--light-color);
    color: var(--pink-color);
    margin-right: 5px;
}

.navbar-default .btn-default {
    border: 2px solid var(--pink-color);
    border-radius: 4px;
    background: var(--pink-color);
    color: var(--light-color);
}

.navbar-default .navbar-collapse li a {
    color: var(--dark-color);
    font-size: 18px;
}

.navbar-default .navbar-collapse li a:hover {
    color: var(--pink-hover-color);
}

.navbar-default .navbar-btn:hover {
    border: 0;
    background: var(--pink-hover-color);
    color: var(--light-color);
}

.navbar-default .btn-default:hover {
    background: var(--pink-hover-color);
}

/* jumbotron */

.jumbotron {
    margin-top: 24px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 249, 249, 0.503115) 49.69%, rgba(210, 210, 210, 0) 100%);
}

.jumbotron h1 {
    color: var(--pink-color);
    font-weight: bold;
}

p .btn-primary {
    border: 2px solid;
    background: var(--light-color);
    color: var(--pink-color);
}

p .btn-primary:hover {
    border: 0;
    background: var(--pink-hover-color);
}

/* about */

.row img {
    width: 290px;
    height: 263px;
}

/* Music Store */

.music-store {
    margin-top: 100px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(253, 245, 245, 0.503115) 49.69%, rgba(233, 233, 233, 0) 100%);
    margin-bottom: 24px;
}

.music-store .caption h3 {
    text-align: center;
}

.music-store .caption p {
    color: #6E6E6E;
    font-size: 16px;
}

/* contact */

.contact {
    min-height: 500px;
}


/* footer */

footer {
    background: var(--dark-color);
    color: var(--light-color);
    margin-top: 50px;
    padding-bottom: 30px;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--pink-color);
}

.footer-nav .garis {
    display: block;
    border-style: inset;
    margin-top: 0.5em;
    width: 100px;
    height: 5px;
    background: conic-gradient(from 90deg at 50% 50%, #424253 0deg, #FF00F5 180deg, #424253 360deg);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px 0;
}

.footer-container .logo {
    align-self: center;
    cursor: pointer;
}

.footer-container ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.footer-container ul li {
    margin: 16px 0;
}

.footer-container .footer-social {
    margin: 30px 0 24px 0;
}

.footer-container .footer-social a {
    text-decoration: none;
    margin: 0 15px;
}

.footer-container .footer-social a:first-child {
    margin-left: 0;
}

.footer-container .footer-social a img {
    transition: 600ms;
}

.footer-container .footer-social a img:hover {
    transform: scale(1.2);
}

.copyright {
    text-align: center;
}

.glyphicon-heart {
    color: var(--pink-color);
}

@
